.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    

}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 475px;
    border: 5px solid black;
    border-style: groove;
    background-image: linear-gradient(rgb(57, 155, 190),rgb(53, 150, 37));
}

.buttons {
    display: flex;


}
.number-buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 0, 1, auto;
    width: 150px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
}

.special-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 215px;
    margin-top: 10px;
}

.special-buttons button {
    flex: auto;
    font-size: 18pt;
    padding: 5px;
    font-weight: 500;
    background-color: rgb(238, 143, 0);
}

#point {
    font-size: 20pt;
    font-weight: 500;
}


button {
    border-radius: 10px;
    border-style: solic;

}

.number-buttons button:hover {
    background-color: rgb(101, 34, 119);
}

#point:hover {
    background-color: rgb(101, 34, 119);
}

.operator-buttons button:hover {
    background-color: rgb(255, 0, 0);
}

.special-buttons button:hover {
    background-color:rgb(57, 155, 190)
}

.number-buttons button {
    font-size: 20pt;
    padding: 10px;
    flex: 1;
}

.operator-buttons button {
    font-size: 20pt;
    padding: 10px;
    background-color: darkgray;
    color: white;
}

.display {
    text-align: center;
    height: 40px;
    width: 200px;
    border: 1px solid black;
    background-color: beige;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 27pt;
}
