.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 500px;
    border: 5px solid black;
    border-style: groove;
    border-radius: 10px;
    background-image: linear-gradient(rgb(57, 155, 190),rgb(53, 150, 37));
}

.buttons {
    display: flex;
    gap: 2px;


}
.number-buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 0, 1, auto;
    width: 150px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
}

.special-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 215px;
    margin-top: 10px;
}

.special-buttons button {
    flex: auto;
    font-size: 18pt;
    padding: 5px;
    font-weight: 500;
    background-color: rgb(238, 143, 0);
}

#point {
    font-size: 20pt;
    font-weight: 500;
}


button {
    border-radius: 10px;
    border: solid black;
    

}

.number-buttons button:hover {
    background-color: rgba(101, 34, 119, 0.902);
    color: white;
}

#point:hover {
    background-color: rgba(101, 34, 119, 0.866);
    color: white;
}

.operator-buttons button:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

.special-buttons button:hover {
    background-color:rgb(57, 155, 190)
}

.number-buttons button {
    font-size: 20pt;
    padding: 10px;
    flex: 1;
}

.operator-buttons button {
    font-size: 20pt;
    padding: 10px;
    background-color: darkgray;
    color: white;
}

.display {
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 212px;
    border: 1px solid black;
    background-color: beige;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: min(3em, 28vw);

}
